<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<!--상품 수정하는 폼-->
<form action="/edit" method="post">
    <!--CSRF 기능-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <input name="id" th:value="${id.id}" style="display: none">
    <input name="title" th:value="${id.title}">제품명<br>
    <input name="price" th:value="${id.price}">가격<br>
    <button type="submit">수정</button>
</form>

</body>
</html>