<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>

<!--내용-->
<div class="card" th:each="item : ${items}" style="display: flex; align-items: center;">
    <img src="https://placehold.co/300" style="margin: 20px">
    <div>
        <!--title을 누르면 상세페이지/id 로 이동-->
        <a th:href="@{'/detail/' + ${item.id}}"><h4 th:text="${item.title}">제목</h4></a>
        <p th:text="${item.price}">가격</p>
        <a th:href="@{'/edit/' + ${item.id}}">수정</a>
        <span th:onclick="fetch('/delete?id=[[${item.id}]]',{method :'DELETE'})
        .then(r=>r.text())
        .then(()=>{
            location.reload()
        })
        ">🗑️</span>
    </div>
</div>
</body>
</html>